<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Basics</title>
    <link rel="stylesheet" href="theme.css" />
    <style>
      [v-cloak] {
        display: none;
      }
    </style>
  </head>
  <body>
 <div class="container pt-5" id="app" v-cloak>
   <div class="card">
     <h1 :style="{
       color:inputValue.length < 5 ? 'red' : 'blue',
       fontSize: inputValue.length < 6 ? '2rem' : '1.5rem',
     }">{{title}}</h1>
     <div class="form-control">
       <!-- v-bind:name    :name
       v-on:name  @name -->
        <!-- @input="inputChangeHandler"
       :value="inputValue"  -->
       <input type="text" :placeholder="plaseholderString"    
                          v-model="inputValue"
                          @keypress.enter="addNote"/>
     </div>
     <h2>InputValue: {{inputValue}}</h2>
     <button class="btn" v-on:click="addNote">Add</button>
     <hr />
     <ul class="list" v-if="notes.length !==0">
       <li class="list-item" v-for="(note, idx) in notes">
         <!-- <span :class="note.length > 5 ? 'primary' : 'bold'">{{idx+1}}) {{toUpperCase(note)}}</span> -->
         <!-- <span :class="{ 'primary':true, 'bold': note.length >5}">{{idx+1}}) {{toUpperCase(note)}}</span> -->
         <span :class="['bold', {'primary': note.length > 5}]">{{idx+1}}) {{toUpperCase(note)}}</span>
        <button class="btn danger" v-on:click="remove(idx)">Delete</button>
       </li>
       <hr />
       <li><strong>All text: {{notes.length}}</strong> doble: {{doblecount}}</li>
     </ul>
     <div v-else>Test</div>
     
     <div>
       <div v-html="myHtml"></div>
      <h2 v-text="title"></h2>
      <h2 v-once>{{title}}</h2>
      <h2 v-pre>{{title}}</h2>
      <button class="btn" @click="title = 'New title'">Change title</button>
      
      <ul class="list" v-if="items.length">
        <li class="list-item" v-for="item in 5">{{item}}</li>
        <li class="list-item" v-for="(value, key) in person">{{key}}: {{value}}</li>
        <li class="list-item" v-for="(item, i) in items" @click="items.splice(i, 1)">{{item}}</li>
      </ul>
      <h3 v-show="items.length ===0">No items</h3>
    </div>
   
  </div>
 </div>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="app.js"></script>
  </body>
</html>
